@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Markazi, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    border: none;
    overflow: scroll;
}

.background {
    background-image: url('images/shutterstock_1712342506.jpg');
    background-color: rgba(255, 255, 255, 0.356);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 200vh;
    height: 100vh;
}

#logo {
    font-size: 400%;
    font-family: Montserrat, sans-serif;
    float: left;
    margin-top: 0;
    color: rgba(230, 219, 209, 0.8);
}


/* Nav bar */

.nav {
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-areas: "head head" "nav  nav" "foot";
    position: sticky;
    top: 0;
    z-index: 100;
  
}

#menu {
    grid-area: nav nav;
    list-style-type: none;
    font-family: Montserrat, sans-serif;
    font-size: 115%;
    letter-spacing: 5px;
    display: flex;
    text-align: center;
    background-color: rgba(230, 219, 209, 0.6);
    padding: 20px;
    width: 100%;

}

#menu li {
    flex: 1;
}

li a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: rgba(34, 28, 28, 0.63);
    padding: 20px;
}
.intro-text-box {
    font-size: 170%;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: overline;
  }

  /* Circle photos styling*/
  #circle-images {
    display: grid;
    grid-template-columns: 500px 2fr;
    grid-template-rows: 470px 2fr;
  }

.circle-1 img {
    width: 450px;
    height: 450px;
    
}

.circle-2 img {
    width: 450px;
    height: 450px;
}

.circle-3 img {
    width: 450px;
    height: 450px;

}


.circle-4 img {
    width: 450px;
    height: 450px;
    
}
