@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Playfair+Display+SC:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    min-width: 100%;
}

header {
    width: 100%;
    grid-area: hd;
}

body {
    background-color: beige;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    font-family: 'Hubballi', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    border: none;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 80px 700px 700px auto;
    grid-template-areas:
        "hd hd"
        "text text"
        "img1 img2"
        "img3 img4"
        "foot foot";
}

#pool-body {
    grid-template-rows: 110px 80px 110px 600px 1200px auto;
    grid-template-areas:
        "hd hd"
        "text text"
        "swim offer"
        "img1 img2"
        "img3 img4"
        "foot foot";
}

#logo {
    font-size: 3rem;
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    color: black;
    margin-left: 10px;
    display: contents;
}

/* Nav bar */

.nav {
    width: 100%;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid white;
    grid-area: hd;
}

#menu {
    list-style-type: none;
    font-size: 1.5rem;
    letter-spacing: 4px;
    display: inline-grid;
    text-align: center;
    background-color: rgb(144, 190, 192);
    padding: 20px 0 20px 0;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

#menu li {
    flex: 1;
}

li a {
    text-decoration: none;
    color: black;
    transition: background-color .5s;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.63);
    padding: 3.52px;
}
/* Hamburger menu */
.topnav {
    overflow: hidden;
    background-color: rgb(82, 60, 60);
    position: relative;
}

#logo-mobile {
    font-size: 1.1em;
    font-family: 'Playfair Display SC', sans-serif;
    letter-spacing: 5px;
    color: black;
}

div.topnav {
    display: none;
}

.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-bottom: 1px solid white;
    background-color: #90BEC0;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 2.5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgb(102, 102, 102);
}
/* Images and text styling - Home Page */
.container-1 {
    background-image: url("../images/amstaff-dog-img.webp");
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: img1;
    display: grid;
    grid-template-rows: 60% auto 10%;
    grid-template-columns: minmax(20%, 32%) auto minmax(20%, 32%);
    grid-template-areas:
        "one-l one-m one-r"
        "two-l two-m two-r"
        "three-l three-m three-r";
}

.container-2 {
    background-image: url("../images/bullmastiff-img.webp");
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: img3;
    display: grid;
    grid-template-rows: 65% auto 10%;
    grid-template-columns: minmax(20%, 32%) auto minmax(20%, 32%);
    grid-template-areas:
        "one-l2 one-m2 one-r2"
        "two-l2 two-m2 two-r2"
        "three-l2 three-m2 three-r2";
}

.container-1 p {
    justify-content: center;
    text-align: left;
    font-size: 1.1em;
    grid-area: two-m;
    min-width: 300px;
}

.container-2 p {
    justify-content: center;
    text-align: left;
    font-size: 1.1em;
    grid-area: two-m2;
    min-width: 300px;
}

.title{
    text-align: center;
    font-family: 'Playfair Display SC', sans-serif;
    font-size: 1.5em;
    letter-spacing: 4px;
    margin-bottom: 2%;
    display: block;

}

.title a {
    text-decoration: none;
    color: black;
}

.title a:hover {
    font-size: 1.7rem;
}

#logo:hover {
    color: white;
}

.container-3 {
    background-image: url("../images/beagle-img.webp");
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: img2;
    display: grid;
    grid-template-rows: 60% auto 10%;
    grid-template-columns: minmax(20%, 32%) auto minmax(20%, 32%);
    grid-template-areas:
        "one-l3 one-m3 one-r3"
        "two-l3 two-m3 two-r3"
        "three-l3 three-m3 three-r3";

}

.container-3 p {
    justify-content: center;
    text-align: left;
    font-size: 1.1em;
    grid-area: two-m3;
    min-width: 300px;
}

.container-4 {
    background-image: url("../images/golden-img.webp");
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: img4;
    display: grid;
    grid-template-rows: 60% auto 10%;
    grid-template-columns: minmax(20%, 32%) auto minmax(20%, 32%);
    grid-template-areas:
        "one-l4 one-m4 one-r4"
        "two-l4 two-m4 two-r4"
        "three-l4 three-m4 three-r4";

}

.container-4 p {
    justify-content: center;
    text-align: left;
    font-size: 1.1em;
    grid-area: two-m4;
    min-width: 300px;
}

/* Footer */
footer {

    background-color: rgb(144, 190, 192);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0 20px 0;
    background-size: cover;
    border-top: 1px solid black;
    grid-area: foot;
    margin-top: 20px;
    position: relative;
    z-index: 100;
}

.footer {
    bottom: 0;
    text-align: end;
    padding: 20px 0 20px 0;
    width: 100%;

    color: black;
    font-size: 1rem;
    letter-spacing: 5px;
    position: relative;
}

/* --------------------- Pool page ---------------------*/
.intro-text-box,
.intro-text-box1 {
    color: #5f0f40;
    font-size: 2.5rem;
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 400;
    grid-area: text;
    letter-spacing: 7px;
    text-align: center;

}

.march-title,
.playground-title {
    text-align: center;
    background-color: #90BEC0;
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 400;
    font-size: 1.9em;
    letter-spacing: 4px;
    margin: 0 20px 0 20px;
    border: 1px solid black;
    padding: 15px;
}

.pool-info {
    color: rgb(114, 111, 109);
    font-size: 1.2em;
    letter-spacing: 1px;
}

p.march-p,
.why-swim {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
    margin: 0 20px 0 20px;
    border: solid 1px black;
    background-color: white;
    padding: 15px;
}

.container-boxer {
    background-image: url("../images/boxer-img.webp");
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    grid-area: img1;
}

.container-swim {
    grid-area: img1;
}

.why-swim {
    margin: 70px 20px 20px 20px;
}

/* Table */
table.time-table {
    min-width: 200px;
    font-size: 1.2em;
    grid-area: img2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

table.time-table tr,
.table.classes-table tr {
    font-size: 1.1em;
}

.time-table thead tr,
.classes-table thead tr {
    color: black;
    text-align: center;
    background-color: #90BEC0;
}

.time-table th,
.classes-table th {
    padding: 12px 14px;
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 400;
    border: solid 1px black;
}

.time-table td,
.classes-table td {
    padding: 12px 14px;
    border: 1px solid black;
}

tr.unpair {
    background-color: white;
}

tr.pair {
    background-color: rgba(189, 178, 178, 0.377);
    color: black;
}

div.staff {
    grid-area: img3;
}

p.staff-c,
p.staff-k,
p.staff-d {
    padding-block: 20px;
    background-color: white;
    margin-left: 20px;
    padding: 20px;
}

.staff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    grid-template-areas: "t t"
        "a b"
        "c d"
        "e f";

}

.staff-header {
    background-color: white;
    border: 1px solid black;
    border-top-right-radius: 20px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 20px 0 20px;
    letter-spacing: 3px;
    grid-area: t;
    padding: 10px 0 10px 0;
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 400;
}

.corinne,
.katherine,
.david {
    margin: 20px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 2px solid #5F0F40;
}

div.container-s {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.name,
#inner-pool p {
    display: block;
    font-size: 1.1rem;
    letter-spacing: 3px;
    background-color: white;
    font-family: 'Playfair Display SC', sans-serif;
    border: 1px solid black;
    border-top-right-radius: 20px;
}

img.corinne {
    grid-area: a;
}

img.katherine {
    grid-area: c;
}

img.david {
    grid-area: e;
}

.staff-c,
.staff-k,
.staff-d {
    margin: auto;
    font-size: 1.1em;
    border: 1px solid black;
    text-align: center;


}

.staff-c {
    grid-area: b;
}

.staff-k {
    grid-area: d;
}

.staff-d {
    grid-area: f;
}

div.g-pinscher#g-p {
    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 475px 550px;
    grid-template-areas:
        "er dog re"
        "em pool me";
    background-image: url("../images/german-pinscher.webp");
    width: 600px;
    height: 600px;
    background-size: contain;
    background-position: top, bottom;
    background-repeat: no-repeat;
    grid-area: img4;
    margin: 0 auto;
}

#inner-pool {
    grid-area: pool;
}

#inner-pool p {
    border-top-right-radius: revert;
    text-align: center;
    padding: 15px;
}

#inner-pool img {
    height: 100%;
    width: 100%;
    border: 50px solid white;
    border-radius: 10%;
    margin-bottom: 20px;
}

.pool-paragraph {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
    margin: 0 20px 0 20px;
    border: solid 1px black;
    background-color: white;
    padding: 15px;
}

#swim {
    grid-area: swim;
    margin: 20px;
}

#offer {
    grid-area: offer;
    margin: 20px;
}


/* Form */
form {
    display: table;
    position: relative;
    grid-area: form;
    margin: 0 auto;
}

label {
    display: table-cell;
}

#main-form {
    flex-grow: 1;
}
.form-btn {
    background-color: #90BEC0;
    border: 2px solid black;
    border-radius: 25px;
    color: black;
    font-family: 'Playfair Display SC', sans-serif;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    grid-area: img1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
}

input {
    margin-right: 10px;
    font-size: 1em;
    height: 20px;
    border: 1px solid gray;
    border: 2px solid #5f0f40;
    border-radius: 5px;
    width: 300px;
    display: table-cell;
}

.join-form {
    max-width: 600px;
    width: 100%;
    background: #a790a5;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.486);
    border-radius: 20px;
    padding: 30px;
}

#form-title {
    font-family: 'Playfair Display SC', sans-serif;
    font-size: 1.1em;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

label {
    margin: 0 0 20px;
    font-family: 'Playfair Display SC', sans-serif;
    font-size: .9em;

}

.fieldinput {
    margin: 10px 0 10px 0;
    width: 100%;
    max-width: 500px;
}

#checkbox {
    width: 20px;
    position: relative;
    top: 6px;
}

option {
    font-family: 'Playfair Display SC', sans-serif;

}

.btn {
    font-family: 'Playfair Display SC', sans-serif;
    font-size: .9em;
    border: 1px solid black;
    border-radius: 2px;
    margin: 20px 0 20px 0;
    background: white;
    cursor: pointer;
}

button {
    padding: 5px;
}

input[value="Reset Form"] {
    width: inherit;
}

/* Playground page */
#playground {
    grid-template-columns: auto;
    grid-template-rows: auto 80px 800px 80px auto auto;
    grid-template-areas:
        "hd"
        "text"
        "img1"
        "img2"
        "img3"
        "img4"
        "play"
        "questions"
        "foot";
}

.container-play {
    background-image: url(../images/dogs-img.webp);
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: img1;
    display: grid;
    grid-template-columns: 31% auto 31%;
    grid-template-rows: auto 23% 20%;
    grid-template-areas:
        "empty1 photo empty2"
        "empty3 text empty4"
        "empty5 empty6 empty7";
}

.container-play p {
    text-align: center;
    font-size: 2em;
    grid-area: text;
    min-width: 200px;
}

.play-text p {
    background-color: #90BEC0;
}

.p-reason {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 20px;
    background-color: white;
}

.p-reason div {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
}

.p-reason :nth-child(4) {
    border-right: 1px solid;
}

.play-image {
    grid-area: img4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img.swing {
    grid-area: swing;

}

img.bench {
    grid-area: bench;

}

img.swing,
img.bench {
    margin: 20px auto;
    border: 50px solid white;
    border-radius: 10%;
}

.p-article {
    margin: 20px 0 20px 0;
}

.questions h3 {
    padding: 7px;
    font-size: 1.1em;
    background-color: #90BEC0;
    display: inline;
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 400;
    margin: 20px;
    border: 1px solid black;
    border-top-right-radius: 20px;
}

.questions p {
    margin: 20px;
    font-size: 1.1em;
    background-color: white;
    border: 1px solid;
    padding: 15px;
}

/* -------------------------------------- Gym page --------------------------------------*/
.weight {
    grid-area: text;
    margin: 20px;
}

#gym {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 170px auto auto;
        grid-template-areas:
            "hd"
            "text"
            "img1"
            "img2"
            "img3"
            "gym"
            "img"
            "table"
            "dog"
            "text-box"
            "foot";
}

.gym-container {
    grid-area: img1;
}

.gym-container img {
    margin: 0 auto;
    display: flex;
    border-radius: 10%;
    border: 50px solid white;
}

.gym-box {
    font-size: 2rem;
    background-color: #90BEC0;
    border-radius: 2%;
    margin: 20px;
    padding: 15px;
    font-family: 'Playfair Display SC', sans-serif;
    border: 1px solid;
    text-align: center;
}
.gym-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "t-box1 t-box2"
        "t-box3 t-box4";
}

.text-gym1 {
    grid-area: t-box1;
}

.text-gym2 {
    grid-area: t-box2;
}

.text-gym3 {
    grid-area: t-box3;
}

.text-gym4 {
    grid-area: t-box4;
}

.text-gym1,
.text-gym2,
.text-gym3,
.text-gym4 {
    border: 1px solid;
    margin: 20px;
    font-size: 1.1em;
    padding: 15px;
    background-color: white;
}

.text-g {
    font-size: 1.1em;
    margin: 20px;
    border: 1px solid;
    padding: 15px;
    background-color: white;
}

.gym-box a {
    color: beige;
    cursor: pointer;
}

.yoga-dog img {
    width: 100%;
    height: 100%;
}

/*----------------------------------------- Table -----------------------------------------*/
table.classes-table {
    font-size: 1.3em;
    grid-area: table;
    margin: 20px;
}

/*----------------------------------------- Bar -----------------------------------------*/
#bar {
    display: grid;
    grid-template-columns: 29% auto 29%;
    grid-template-rows: 110px 80px 800px 600px auto;
    grid-template-areas:
        "hd hd hd"
        "text text text"
        "dog1 menu dog2"
        "em1 em2 em3"
        "foot foot foot";
}

.food-menu {
    background-image: url("../images/menu-img.webp");
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: menu;
    width: 100%;
    height: 100%;
    background-position: center;
    margin: 5px;
}

#food {
    grid-area: menu;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    top: 200px;
}

.menu-title {
    font-family: 'Playfair Display SC', sans-serif;
}

.dog-left {
    background-image: url("../images/rottweiler-img.webp");
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: dog1;
}

.dog-left p {
    position: relative;
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
    text-align: left;
    font-size: 1.5em;
    top: 430px;
    max-width: 700px;
    margin: 0 auto;
}

.dog-right {
    background-image: url("../images/pug-img.webp");
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: dog2;
}

.dog-right p {
        position: relative;
        display: grid;
        grid-template-columns: 75%;
        justify-content: center;
        text-align: left;
        font-size: 1.5em;
        top: 450px;
        max-width: 700px;
        margin: 0 auto;
}

.rights {
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

/* Media Queries*/
@media only screen and (max-width: 500px) {
    .background {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto repeat(4, 420px) auto;
        grid-template-areas:
            "hd"
            "text"
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "auto"
            "foot";
    }

    table {
        font-size: .5em;
    }

    .staff-c {
        grid-area: b;
    }

    .staff-k {
        grid-area: d;
    }

    .staff-d {
        grid-area: f;
    }

    .staff-c,
    .staff-k,
    .staff-d {
        font-size: 1em;
        border-radius: 1%;
        padding: 15px;
    }

    img.corinne {
        grid-area: a;
        width: 70%;
    }

    img.katherine {
        grid-area: c;
        width: 70%;
    }

    img.david {
        grid-area: e;
        width: 70%;
    }

    .staff-header {
        font-size: 1em;
        grid-area: t;
    }

    .name {
        font-size: 1em;
    }

    .nav #menu {
        display: none;
    }

    div.topnav {
        display: contents !important;
    }

    .title {
        font-size: 1.4em;
    }

    .intro-text-box,
    .intro-text-box1 {
        font-size: 1em;
    }

    div.container-1 {
        grid-template-rows: 55% auto 10%;
    }

    div.container-2 {
        grid-template-rows: 60% auto 10%;
    }

    div.container-1 p,
    div.container-2 p,
    div.container-3 p,
    div.container-4 p {
        font-size: .7em;
        min-width: 200px;
    }

    .form-btn {
        font-size: 1em;
    }

    .container-p p,
    .march-title,
    .container-play p,
    .playground-title {
        font-size: 1em;
    }

    table.time-table {
        font-size: 1em;
        margin: 20px;
    }

    .time-table th {
        padding: 2px 2px;
        font-size: 1em;
    }

    .time-table td {
        padding: 2px 2px;
    }

    p.march-p,
    p.pool-paragraph {
        font-size: 1em;
    }

    #playground {
        grid-template-columns: auto;
        grid-template-rows: auto 80px 400px 50px auto auto;
        grid-template-areas:
            "hd"
            "text"
            "img1"
            "img2"
            "img3"
            "img4"
            "play"
            "questions"
            "foot";
    }

    .p-reason div {
        font-size: 1em;
        border: 1px solid;
    }

    .p-reason {

        flex-wrap: wrap;
        margin: 20px;

    }

    .questions h3 {
        display: block;
        font-size: 1em;
    }

    img.swing {
        border: 15px solid white;
        width: 80%;
    }

    img.bench {
        border: 15px solid white;
        width: 80%;
    }

    .gym-container img {
        margin: 0 auto;
        display: flex;
        border-radius: 10%;
        border: 15px solid white;
        width: 80%;
    }

    .gym-box {
        font-size: 1rem;
    }

    .gym-grid {
        margin: 10px;
    }

    table.classes-table {
        font-size: 1em;
    }

    .text-gym1,
    .text-gym2,
    .text-gym3,
    .text-gym4 {
        text-align: center;
    }

    .weight img {
        width: 30%;
    }
    .questions p {

        font-size: 1em;

    }

    .container-play {
        background-image: url("../images/pitbull-img.webp");
        width: 100%;
        height: 100%;
        position: relative;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        grid-area: img1;
        display: grid;
        grid-template-columns: 25% auto 20%;
        grid-template-rows: auto 23% 20%;
        grid-template-areas:
            "empty1 photo empty2"
            "empty3 text empty4"
            "empty5 empty6 empty7";
    }

    .container-play p {
        max-width: 250px;
    }
    #bar {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 300px 600px 350px auto;
        grid-template-areas:
            "hd"
            "text"
            "dog1"
            "menu"
            "dog2"
            "foot";
    }
    .dog-left p{
        grid-template-columns: 50%;
        font-size: 1.1em;
        top: 180px;
    }

    .dog-right p{
        grid-template-columns: 50%;
        font-size: 1.1em;
        top: 220px;
    }
#food {
    font-size: 1.1em;
    top: 150px;
}
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    .background {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto repeat(4, 500px);
        grid-template-areas:
            "hd"
            "text"
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "auto"
            "foot";
    }

    .staff-c,
    .staff-k,
    .staff-d {
        font-size: 1em;
        border-radius: 2%;
    }

    img.corinne,
    img.katherine,
    img.david {
        width: 60%;
    }

    .staff-header {
        font-size: 1em;
    }

    .nav #menu {
        display: none;
    }

    div.topnav {
        display: contents !important;
    }

    .title
    .march-title .playground-title {
        font-size: 1.4em;
    }

    .intro-text-box,
    .intro-text-box1 {
        font-size: 1.3em;
    }

    .footer {
        font-size: 1em;
    }

    .container-1 p,
    .container-2 p,
    .container-3 p,
    .container-4 p {
        font-size: .8em;
        min-width: 200px
    }

    .container-p p,
    .march-title,
    .playground-title,
    .container-play p,
    p.march-p,
    .why-swim {
        font-size: 1em;
    }

    .container-play p {
        max-width: 250px;
    }

    .form-btn {
        font-size: 1em;
    }

    table.time-table {
        font-size: 1em;
    }

    .time-table th {
        padding: 3px 3px;
    }

    .time-table td {
        padding: 3px 3px;
    }

    #playground {
        grid-template-columns: auto;
        grid-template-rows: auto 80px 400px 50px auto auto;
        grid-template-areas:
            "hd"
            "text"
            "img1"
            "img2"
            "img3"
            "img4"
            "play"
            "questions"
            "foot";
    }

    .p-reason div {
        font-size: 1em;
        border: 1px solid;
    }

    .questions h3 {
        display: block;
        font-size: 1em;
    }

    .p-reason {
        flex-wrap: wrap;
        margin: 20px;
    }

    img.swing,
    img.bench {
        width: 80%;
        border: 25px solid white;
    }

    .container-play {
        background-image: url("../images/pitbull-img.webp");
        width: 100%;
        height: 100%;
        position: relative;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        grid-area: img1;
        display: grid;
        grid-template-columns: 33% auto 32%;
        grid-template-rows: auto 23% 20%;
        grid-template-areas:
            "empty1 photo empty2"
            "empty3 text empty4"
            "empty5 empty6 empty7";
    }

    .gym-container img {
        margin: 0 auto;
        display: flex;
        border-radius: 10%;
        border: 15px solid white;
        width: 80%;
    }

    .gym-box{
        font-size: 1rem;
    }

    .weight img {
        width: 30%;
    }
    #bar {
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 450px 700px 500px auto;
    grid-template-areas:
        "hd"
        "text"
        "dog1"
        "menu"
        "dog2"
        "foot";
    }
.dog-left p{
    font-size: 1.4em;
    grid-template-columns: 45%;
    top: 250px;
       
    }
    .dog-right p {
        font-size: 1.4em;
        grid-template-columns: 45%;
        top: 300px;
    } 
#food {
    top: 150px;
}   
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .background {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto 500px 420px 500px auto 280px;
        grid-template-areas:
            "hd"
            "text"
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "auto"
            "foot";
    }

    #playground {
        grid-template-columns: auto;
        grid-template-rows: auto 80px 400px 80px auto auto;
        grid-template-areas:
            "hd"
            "text"
            "img1"
            "img2"
            "img3"
            "img4"
            "play"
            "questions"
            "foot";
    }
    #bar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 450px 600px 450px auto;
        grid-template-areas:
            "hd"
            "text"
            "dog1"
            "menu"
            "dog2"
            "foot";
    }
    div.topnav {
        display: none;
    }

    .staff-c,
    .staff-k,
    .staff-d {
        font-size: 1.1em;
        border-radius: 2%;
        padding: 15px;
    }

    img.corinne,
    img.katherine,
    img.david {
        width: 50%;
    }

    .staff-header {
        font-size: 1.1em;
    }

    .container-1 p,
    .container-2 p,
    .container-3 p,
    .container-4 p {
        font-size: .8em;
        min-width: 200px;
    }

    html,
    body {

        overflow-x: hidden;
    }

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0 0 0;
        font-size: 1.3em;
    }

    .home,
    .pool,
    .playground,
    .gym,
    .bar {
        padding: 0 50% 0 50%;
        border-top: 1px solid white;
    }

    #logo {
        margin-bottom: 2%;
        font-size: 2em;
    }

    .intro-text-box,
    .intro-text-box1 {
        font-size: 1.4em;
    }

    .footer {
        font-size: .9em;
    }

    .title {
        font-size: 1.45em;
    }

    .march-title,
    .playground-title {
        font-size: 1.45em;

    }

    .form-btn {
        font-size: 1.1em;
    }

    .container-p p,
    .march-title,
    .playground-title {
        font-size: 1.1em;
    }

    table.time-table {
        font-size: 1em;
    }

    .time-table th {
        padding: 4px 4px;
    }

    .time-table td {
        padding: 4px 4px;
    }

    .container-play p {
        font-size: 1.1em;
    }

    .container-play {
        grid-template-columns: 15% auto 15%;
    }

    .p-reason div {
        font-size: 1em;
    }

    img.swing,
    img.bench {
        width: 80%;
        border: 25px solid white;

    }

    .gym-container img {
        margin: 0 auto;
        display: flex;
        border-radius: 10%;
        border: 15px solid white;
        width: 80%;
    }

    .gym-box{
        font-size: 1rem;
    }
    .container-play {
        grid-template-columns: 15% auto 15%;
    }

    .dog-right p,
    .dog-left p {
        font-size: 1.4em;
        grid-template-columns: 30%;
        top: 250px;
    }
    #food {
        top: 115px;
    }
}

@media screen and (min-width: 900px) and (max-width: 980px) {
    div.topnav {
        display: none;
    }

    #playground {
        grid-template-columns: auto;
        grid-template-rows: auto auto 450px 80px auto auto;
        grid-template-areas:
            "hd"
            "text"
            "img1"
            "img2"
            "img3"
            "img4"
            "play"
            "questions"
            "foot";
    }

    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 500px 500px auto;
        grid-template-areas:
            "hd hd"
            "text text"
            "img1 img2"
            "img3 img4"
            "auto auto"
            "foot foot";
    }

    #pool-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 150px auto;
        grid-template-areas:
            "hd hd"
            "text text"
            "swim offer"
            "img1 img2"
            "img3 img4"
            "foot foot";
    }

    #bar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 450px 600px 450px auto;
        grid-template-areas:
            "hd"
            "text"
            "dog1"
            "menu"
            "dog2"
            "foot";
    }

    .container-1,
    .container-2,
    .container-3,
    .container-4 {
        width: 100%;
        height: 100%;
    }

    .container-1 p,
    .container-2 p,
    .container-3 p,
    .container-4 p {
        font-size: .8em;
        min-width: 300px;
    }

    html,
    body {
        overflow-x: hidden;
    }

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0 0 0;
        font-size: 1.2em
    }

    #logo {
        font-size: 2rem;
    }

    .home,
    .pool,
    .playground,
    .gym,
    .bar {
        padding: 0 50% 0 50%;
        border-top: 1px solid white;
    }

    #logo {
        margin-bottom: 2%;
    }

    .intro-text-box,
    .intro-text-box1 {
        font-size: 1.4em;
    }

    .footer {
        font-size: .9em;
    }

    .form-btn {
        top: 70%;
    }

    .container-p p,
    .march-title,
    .playground-title {
        font-size: 1em;
    }

    table.time-table {
        margin: 20px;
        font-size: 1em;
    }

    .time-table th {
        padding: 4px 4px;
    }

    .time-table td {
        padding: 4px 4px;
    }

    .march-title,
    .playground-title {
        font-size: 1em;
    }

    div.g-pinscher#g-p {
        grid-template-columns: auto;
        grid-template-rows: 315px 400px;
        width: 400px;
        height: 400px;
        position: relative;
        top: 5%;
    }

    .staff-c,
    .staff-k,
    .staff-d {
        font-size: 1em;
        border-radius: 2%;
    }

    img.corinne,
    img.katherine,
    img.david {
        width: 100%;
        margin: 50% auto;
    }

    .staff-header {
        font-size: 1em;
    }

    #inner-pool {
        grid-area: pool;
    }

    #inner-pool img {
        height: 100%;
        width: 100%;
        border: 20px solid white;
    }

    .container-play p {
        font-size: 1.4em;
    }

    .p-reason div {
        font-size: 1em;
    }

    div.container-play {
        grid-template-columns: 15% auto 15%;
    }

    .gym-container img {
        margin: 0 auto;
        display: flex;
        border-radius: 10%;
        border: 15px solid white;
        width: 80%;
    }

    .gym-box{
        font-size: 1rem;
    }

    .container-play {
        grid-template-columns: 15% auto 15%;
    }

    .dog-right p,
    .dog-left p {
        font-size: 1.4em;
    grid-template-columns: 35%;
    top: 250px;
    }
    #food {
        top: 100px;
    }

}

@media screen and (min-width: 980px) and (max-width: 1350px) {
    #bar {
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 450px 600px 500px auto;
    grid-template-areas:
        "hd"
        "text"
        "dog1"
        "menu"
        "dog2"
        "foot";
    }
    #playground {
        grid-template-columns: auto;
        grid-template-rows: auto 80px 600px 80px auto auto;
        grid-template-areas:
            "hd"
            "text"
            "img1"
            "img2"
            "img3"
            "img4"
            "play"
            "questions"
            "foot";
    }

    #pool-body {
        grid-template-rows: 110px 80px 160px 500px 1200px auto;
    }

    .form-btn {
        top: 80%;
    }

    .container-1 p,
    .container-2 p,
    .container-3 p,
    .container-4 p {
        font-size: 1em;
    }

    div.topnav {
        display: none;
    }

    table.time-table {
        margin: 70px auto;
        font-size: 1.1em;
    }

    .time-table th {
        padding: 5px 4px;
    }

    .time-table td {
        padding: 5px 5px;
    }

    div.g-pinscher#g-p {
        grid-template-columns: auto;
        grid-template-rows: 315px 400px;
        grid-template-areas:
            "er dog re"
            "em pool me";
        width: 400px;
        height: 400px;
        position: relative;
        top: 5%;
    }

    .staff-c,
    .staff-k,
    .staff-d {

        font-size: 1.1em;
        border-radius: 2%;

    }

    .staff {
        grid-template-rows: auto 400px;
        grid-template-areas:
            "t t"
            "a b"
            "c d"
            "e f";
    }

    img.corinne,
    img.katherine,
    img.david {
        width: 100%;
        margin: 20% auto;
    }

    .staff-header {
        font-size: 1em;
    }

    #inner-pool {
        grid-area: pool;
    }

    #inner-pool img {
        height: 100%;
        width: 100%;
        border: 25px solid white
    }

    .intro-text-box,
    .intro-text-box1 {
        font-size: 2em;
        letter-spacing: 7px;
    }

    .container-play p {
        font-size: 1.6em;
    }

    .container-play {
        grid-template-columns: 15% auto 15%;
    }

    .gym-container img {
        margin: 0 auto;
        display: flex;
        border-radius: 10%;
        border: 15px solid white;
        width: 80%;
    }

    .gym-box{
        font-size: 1.3rem;
    }
    .container-play {
        grid-template-columns: 15% auto 15%;
    }

    .dog-right p,
    .dog-left p {
        font-size: 1.4em;
        grid-template-columns: 28%;
        top: 250px;
    }
    .dog-right p {
        font-size: 1.4em;
        grid-template-columns: 25%;
        top: 300px;
    }
    #food {
        top: 100px;
    }

}

@media (min-width: 1670px) and (max-width: 1850px) {

    .container-1,
    .container-2,
    .container-3,
    .container-4 {
        width: 100%;
        height: 100%;
    }

    .container-1 p,
    .container-2 p,
    .container-3 p,
    .container-4 p {
        font-size: 1.1em;
    }

    div.topnav {
        display: none;
    }

    .container-play {
        grid-template-columns: 15% auto 15%;
    }

    .dog-right p,
    .dog-left p {
        font-size: 1.7em;
    }
}


@media (min-width: 1850px) and (max-width: 2560px) {

    .container-1,
    .container-2,
    .container-3,
    .container-4 {
        width: 100%;
        height: 100%;
    }

    .container-1 p,
    .container-2 p,
    .container-3 p,
    .container-4 p {
        font-size: 1.1em;
    }

    div.topnav {
        display: none;
    }

    div.g-pinscher#g-p {
        display: grid;
        grid-template-columns: 5px 1fr 5px;
        grid-template-rows: 475px 600px;
        grid-template-areas:
            "er dog re"
            "em pool me";
        background-image: url("../images/german-pinscher.webp");
        width: 600px;
        height: 600px;
        background-size: contain;
        background-position: top, bottom;
        background-repeat: no-repeat;
        grid-area: img4;
        margin: 0 auto;
    }

    #inner-pool {
        grid-area: pool;
    }

    #inner-pool img {
        height: 100%;
        width: 100%;
    }
    .dog-right p,
    .dog-left p {
        font-size: 1.7em;
    }
}

/* Pool Page Media Query */
@media screen and (min-width: 1350px) and (max-width: 2560px) {
    #pool-body {
        grid-template-rows: 110px 80px 200px 700px 1200px auto;
        grid-template-columns: 1fr 1fr;
    }

    .form-btn {
        left: 51%;
    }
}

/* smaller screens */


@media screen and (max-width: 770px) {
    #pool-body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto 125px 150px 300px 560px 1000px 450px 600px;
        grid-template-areas:
            "hd"
            "text"
            "swim"
            "offer"
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "auto"
            "foot";
    }

    div.staff {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "t"
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
    }

    .name,
    #inner-pool p {
        font-size: 1em;
        margin-right: 20px;
    }

    p.staff-c,
    p.staff-k,
    p.staff-d {
        margin: 20px;
    }

    #inner-pool {
        grid-area: img4;
    }

    #inner-pool img {
        height: 100%;
        width: 100%;
        border: 15px solid white;
    }

    div.g-pinscher#g-p {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px;
        grid-template-areas:
            "er dog re"
            "em pool me";
        width: 250px;
        height: 250px;
        grid-area: img5;
        margin: 10px auto;
    }
}

@media screen and (min-width:770px) and (max-width:900px) {
    #pool-body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto 115px 105px 300px auto 700px auto 600px;
        grid-template-areas:
            "hd"
            "text"
            "swim"
            "offer"
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "auto"
            "foot";
    }

    #inner-pool {
        grid-area: img4;
    }

    #inner-pool img {
        height: 100%;
        width: 100%;
        border: 15px solid white;
    }

    div.g-pinscher#g-p {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px;
        grid-template-areas:
            "er dog re"
            "em pool me";
        width: 250px;
        height: 250px;
        grid-area: img5;
        margin: 10px auto;
    }
}

/* Form media queries*/
@media screen and (max-width:500px) {
    .fieldinput {
        width: 100%;
        max-width: 300px;
    }

    input {
        border-radius: 5px;
        width: 250px;
    }
}